{% extends 'main_app/base.html' %}


{% block head %}
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
	  <h2>Your {{ flight.airlines }} ticket!</h2>
	</div>
	  
	<div class="container">
	  <div class="row">
	    <div class="col-sm-4">
	      <h2>Departure</h3>
	      <h3>{{ flight.airlines }} {{ flight.name }}</h3>
	      <h3>Departure City: {{ flight.departure_city }}</h3>
	      <h3>Departure Time: {{ flight.departure_time }}</h3>
	    </div>
	    <div class="col-sm-4">
	      <h2>Arrival</h2>
	      <h3>Arrival City: {{ flight.arrival_city }}</h3>
	      <h3>Arrival Time: {{ flight.arrival_time }}</h3>
	    </div>
	    <div class="col-sm-4">
	      <h2>Seat Details</h2>        
	      <h3>Seat Number: {{ seat }}</h3>
	      <h3>Class: {{ class }}</h3>
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-4"></div>
	  	<div class="col-sm-4"></div>
	  	<div class="col-sm-4">
		  <form>
			<input type=button value="Print Ticket" onClick="javascript:window.print()">
		  </form>
		</div>
	  </div>
	</div>
{% endblock %}