{% extends 'main_app/base.html' %}
{% load static %}

{% block head %}


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Selection</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  <script>
	function getPrice(){
		passengers = document.getElementById("passengers").innerHTML
		if(document.getElementById("flight-class").value == "Business"){
			result = document.getElementById("business").innerHTML;
			total = parseInt(result) * parseInt(passengers);
		} 
		else{
			result = document.getElementById("economy").innerHTML;	
			total = parseInt(result) * parseInt(passengers);
		}
		document.getElementById("result").innerHTML = "Rs. " + result + " X " + passengers + " = Rs. " + total;
	}
  </script>

{% endblock %}

{% block body %}
	<div class="container">
	  <form id="form" action="{% url 'main_app:UserDetailsPage' %}" method="post" enctype="multipart/form-data">
		  {% csrf_token %}

		  <div class="row">
		  	<div class="col-sm-3">
		      <img src="{% static 'main_app/images/' %}{{ flight.image_url }}" height="200" width="250">
		    </div>

		  	<div class="col-sm-3">
		      <h2>Flight</h2>
		      <h3>{{ flight.airlines }} {{flight.name }}</h3>
		    </div>

		  	<div class="col-sm-3">
		      <h2>Departure Time</h2>
		      <input id="departure-time" name="departure-time" type="text" value="{{ request.session.departure_time }}">
		    </div>

		    <div class="col-sm-3">
		      <h2>Arrival Time</h2>
		      <input id="arrival-time" name="arrival-time" type="text" value="{{ request.session.arrival_time }}">
		    </div>

		    <div class="col-sm-3">
			  	  <h2>Flight Class</h2>
			  	  <div id="business" style="display:None">{{ flight.endPrice }}</div>
			  	  <div id="economy" style="display:None">{{ flight.startPrice }}</div>	

	              <select onchange="getPrice()" id="flight-class" name = "flight-class"> 
	                  <option value = "Business"> Business </option>
	                  <option selected value = "Economy"> Economy </option>
	              </select>
	        </div>

	        <div class="col-sm-3">
		      <h2>Price</h2>
		      <span id="result">Rs. {{ flight.startPrice }}</span>
		    </div>

			<div class="col-sm-3">
			  <h2>Passengers</h2>	
		      <h2 id="passengers">{{ request.session.passengers }}</h2>
		    </div>

		  </div>

		  <div class="row">
		  	 <input class="btn btn-success" id="check-out" type="submit" value="Book Flight" style="margin-top:10%; margin-left:45%">
		  </div>
	</form>
	</div>

{% endblock %}